.DS_Store
*.pyc
## Never check this in
settings.json
tornado/static/pilot.OF-0839.merged.AF.vcf.gz
venv
# Editor temp files
*~
# Nodejs stuff
dist/
node_modules/
npm-debug.log
tornado/static/js/app.js
tornado/static/js/app.min.js
backend/static
backend/templates
static
# importer and config stuff
mysql-data*
scripts/importer/downloaded_files
