{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>About ExAC</h1>
        <div class="row" style="font-size: 16px;">
            <div>
                <p>
                The Swedish Frequency resource for genomics (SweFreq)
                is a website developed to make genomic datasets
                more accessible and easier to find in order to promote
                collaboration, new research and increased public benefit.
                You may contact
                <a href="mailto:swefreq@scilifelab.se">swefreq@scilifelab.se</a>
                if you want to find out more about this resource and how
                it could benefit you and your research.
                </p>
                <p>
                For questions, comments, etc., regarding the SweGen
                cohort dataset, please contact
                <a href="mailto:swegen@scilifelab.se">swegen@scilifelab.se</a>.
                </p>
            </div>
            <p>
            The SweGen Variant Frequency Browser uses the browser
            software developed for the
            <a href="http://biorxiv.org/content/early/2016/08/19/070581">ExAC Browser</a> developed by the Exome Aggregation Consortium (ExAC), Cambridge, MA (URL: <a href="http://exac.broadinstitute.org">http://exac.broadinstitute.org</a>) [August, 2016], with modifications.
            </p>
            <p>
                For technical bug reports relating to the browser software, please file an issue on <a href="https://github.com/NBISweden/swefreq/issues">Github</a>.
            </p>
        </div>
    </div>

{% endblock %}
