{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>About SweGen ExAC</h1>
        <div class="row" style="font-size: 16px;">

            <div>
                <p>The SweGen Variant Frequency Browser uses the browser software developed for the <a
                    href="http://biorxiv.org/content/early/2016/08/19/070581">ExAC Browser</a> developed by the <a
                    href="http://exac.broadinstitute.org/">Exome Aggregation Consortium (ExAC)</a>, Cambridge, MA
                    [August, 2016], with modifications. The original ExAC Browser project is available on <a
                    href="https://github.com/konradjk/exac_browser">GitHub</a>.

                <p>For questions, comments, etc., regarding the SweGen cohort dataset, please contact <a
                    href="mailto:swegen@scilifelab.se">swegen@scilifelab.se</a>.

                <p>For inquiries about this website, please use <a
                    href="mailto:swefreq@scilifelab.se">swefreq@scilifelab.se</a>.

                <p>For technical bug reports relating to the browser software, please file an issue on our <a
                    href="https://github.com/NBISweden/swefreq/issues">GitHub issue
                    page</a>.
            </div>
        </div>
    </div>

{% endblock %}
