{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>Terms and Data Information</h1>
        <div class="row" style="font-size: 16px;">
            <h4>Terms of use</h4>


            <p>You are allowed to freely search the data available at this
            site, and files with genome-wide variant frequencies are available
            for academic use upon registration. The variant frequency files,
            or modified versions of the files, may not be redistributed to
            other users. Each user is required to register in the system and
            download his/her own copy from this central site and it
            responsible that this information is not distributed to others. We
            encourage the use and publication of frequency data for specific
            targeted sets of variants (for instance, assessing a set of
            candidate causal variants observed in a collection of rare disease
            patients). However, you are not allowed to publish global
            (genome-wide) analyses of the complete data set or large gene
            sets, until after the first SweGen paper, describing the resource,
            has been published in a peer-reviewed journal (estimated to be in
            early 2017).</p>

            <h4>Disclaimer</h4>

            <p>This database is based on individuals from population-based
            cross-sectional studies. No phenotype information has been used as
            inclusion criteria in the database. Individuals with common
            diseases occur at the general population prevalence of the
            disease. As a consequence, genetic variants contributing to
            disease risk occur in the database at the general population
            frequency. There is no explicit or implicit guarantee that the
            genetic variants in the database do not contribute to risk of
            disease.</p>

            <h4>Citation in publications</h4>

            <p>Any use of SweGen data should be cited by <a
                 href="http://somewhere.some.place/">our preprint on bioRxiv</a>.

        </div>
    </div>

{% endblock %}
