[% set active='browser' %]
[% extends "ng-templates/dataset-base.jj2" %]
[% block controller %]browserController[% endblock %]
[% block contents %]
<div class="container" ng-if="ctrl.region">

    <!-- HEADER -->
    <div class="col-md-12">
        <h1 ng-if="ctrl.rsid">{{ ctrl.rsid }}</h1>
        <h1 ng-if="!ctrl.rsid">Region: {{ ctrl.region.chrom }}
	    <span ng-if="ctrl.region.statusCode">{{ ctrl.region.variantId }}</span>
            <span ng-if="ctrl.region.stop"> / {{ ctrl.region.start }} / {{ ctrl.region.stop }}</span>
        </h1>
    </div>

    <!-- WARNINGS -->
    <div ng-if='ctrl.region.statusText=="The region is too large"'>
        <div class="alert alert-danger col-md-offset-3 col-md-6">
            <h3>Region too large!</h3>
            <p>The region is too large. Please submit a region of at most 100 kb.</p>
            <p>If you require larger regions, please see our <a href="/dataset/{{ ctrl.dataset.shortName }}/download">Download</a> page for raw data.</p>
        </div>
    </div>
    <div ng-if="ctrl.region.stop">
        <div ng-if="ctrl.region.stop < ctrl.region.start">
            <div class="alert alert-danger col-md-offset-3 col-md-6">
                <h3>Invalid region!</h3>
                <p>The region ends ({{ ctrl.region.stop }}) before it begins ({{ ctrl.region.start }}).</p>
                <p>Did you mean <a href="{{ ctrl.browserLink('region/' + ctrl.region.chrom + '-' + ctrl.region.stop + '-' + ctrl.region.start) }}">{{ ctrl.region.chrom }}-{{ ctrl.region.stop }}-{{ ctrl.region.start }}</a>?</p>
            </div>
        </div>
    </div>
    <div ng-if='ctrl.region.statusCode && ctrl.region.statusText!="The region is too large"'>
      <div class="alert alert-danger col-md-offset-3 col-md-6">
	<h3>Error</h3>
	<p>Trouble loading the region information.</p>
	<p>Code: {{ ctrl.region.statusCode }} Status text: {{ ctrl.region.statusText }}</p>
      </div>
   </div>
      

    <!-- GENES -->
    <div ng-if="ctrl.region.genes">
        <div class="section_header">Genes</div>
        <ul>
            <li ng-repeat="gene in ctrl.region.genes">
                <a href="{{ ctrl.browserLink('gene/' + gene.geneId) }}">{{ gene.geneId }}</a>
                ({{ gene.fullGeneName }})
            </li>
        </ul>
    </div>
</div>
<!-- LOADING MESSAGE -->
<div ng-if="!ctrl.region" class="alert alert-info col-md-4 col-md-offset-4 text-center" >
    <strong>Loading Region</strong>
</div>

<!-- Coverage plot -->
<div ng-if="ctrl.coverage.data.length" class="container">
    [% include "ng-templates/browser-coverage-plot.jj2" %]
</div>

<!-- Loading message -->
<div ng-if="!ctrl.coverage.loaded" class="alert alert-info col-md-4 col-md-offset-4 text-center" >
    <strong>Loading Coverage</strong>
</div>
<div ng-if="ctrl.coverage.statusCode">
  <div class="alert alert-danger col-md-offset-3 col-md-6">
    <h3>Error</h3>
    <p>Trouble loading the coverage information.</p>
    <p>Code: {{ ctrl.coverage.statusCode }} Status text: {{ ctrl.coverage.statusText }}</p>
  </div>
</div>




<!-- Variant list -->
<div ng-if="ctrl.filteredVariants">
    [% include "ng-templates/browser-variant-list.jj2" %]
</div>

<!-- Loading message -->
<div ng-if="!ctrl.filteredVariants" class="alert alert-info col-md-4 col-md-offset-4 text-center" >
    <strong>Loading Variant List</strong>
</div>
<div ng-if="ctrl.variants.statusCode">
  <div class="alert alert-danger col-md-offset-3 col-md-6">
    <h3>Error</h3>
    <p>Trouble loading the variants.</p>
    <p>Code: {{ ctrl.variants.statusCode }} Status text: {{ ctrl.variants.statusText }}</p>
  </div>
</div>
[% endblock %]
