<h3>Gene summary</h3>
<p>(Coverage shown for <a href="http://www.ensembl.org/Help/Glossary?id=346" target="_blank">canonical transcript</a>: {{ ctrl.gene.canonicalTranscript }})</p>
<p>Mean coverage: {{ ctrl.dataset.avgSeqDepth }} (entire dataset)</p>
<div class="row">
    <div class="col-md-4">
        <label>Display:</label>
        <span class="btn-group" data-toggle="buttons">
            <button class="btn btn-primary active" data-tooltip="Shows all exons">
                <input type="radio">Overview</input>
            </button>
            <button class="btn btn-primary" data-tooltip="Zoomed in view (can scroll horizontally if needed)">
                <input type="radio">Detail</input>
            </button>
        </span>
        <label>
            <input type="checkbox" ng-model="ctrl.coverage.includeUTR"
                                   ng-selected="ctrl.coverage.includeUTR">Include UTRs in plot
        </label>
    </div>
    <div class="col-md-4 offset-md-4">
        <label>Coverage functions:</label>
        <div>
            <label>
                <input type="radio" ng-model="ctrl.coverage.function" value="mean">
                Mean
            </label>
            <label>
                <input type="radio" ng-model="ctrl.coverage.function" value="median">
                Median
            </label>
            <label>
                Individuals over
                <select ng-model="ctrl.coverage.function" ng-selected="ctrl.coverage.function"
                        ng-options="cov for cov in [1,5,10,15,20,25,30,50,100]">
                        {{ cov }}
                </select> X coverage
            </label>
      </div>
    </div>

    <div class="col-md-12">
        <canvas id="canvas" width="1000" height="300" coverage></canvas>
        <div class="position-absolute panel panel-default col-md-3" id="infoPanel">
            <div class="panel-body" id="infoPanelInfo">
            </div>
        </div>
    </div>
</div>
