<!-- home.html -->
 <div ng-controller="homeController as home" class="container">
    <div class="row dataset-row" ng-repeat="dataset in home.datasets">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="dataset-panel">
                 <div class="dataset-heading {{ dataset.future ? 'future-title' : ''}}">{{ dataset.fullName }}</div>
                 <div class="dataset-body">
                     <div ng-if="dataset.hasImage">
                         <img ng-src="/api/datasets/{{dataset.shortName}}/logo" class="dataset-logo" alt='{{ dataset.shortName }} logo' />
                     </div>
                     <div ng-if="dataset.future" class='future-blurb'>This version will become public at {{ dataset.version.availableFrom }}.</div>
                     <div ng-bind-html="dataset.version.description" />
                 </div>
                 <div class="dataset-links">
                     <li><a href="{{ dataset.urlbase }}">More information</a></li>
                     <li><a href="{{ dataset.urlbase + '/beacon' }}">Beacon</a></li>
                     <li><a target="_blank" href="{{dataset.browserUri}}">Graphical Browser <span class="glyphicon glyphicon-new-window" aria-hidden="true"></a></li>
                 </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
