<!-- login.html -->
<div ng-controller="mainController as login" class="container">

    <div class="login-header">
        <h1>Login to swefreq is changing</h1>
    </div>
    <div class="login">
        <p>
            To transfer your login credentials from a google account to an elixir account, just use the buttons below to first log in to google,
            then click the elixir button to login again and do the account update.
        </p>
        <!-- Google Login button -->
        <a href="/google/login?next={{ login.url() }}" target="_self">
            <button type="button" class="btn" ng-class="{'none':'btn-primary', 'google':'btn-success', 'elixir':'btn-success'}[login.loginType]">Login with Google</button>
        </a>

        <!-- Elixir Login button -->
        <a href="/elixir/login?next={{ login.url() }}" target="_self">
            <button type="button" class="btn" ng-class="{'none':'btn-warning', 'google':'btn-primary', 'elixir':'btn-success'}[login.loginType]">Login with Elixir</button>
        </a>

        <p><h4 ng-if="login.loginType == 'none'">Start by logging in using your Google account.</h4>
           <h4 ng-if="login.loginType == 'google'">Now log in with Elixir to complete the update.</h4>
           <h4 ng-if="login.loginType == 'elixir'">Great! Your account has been updated, you can now return and use the site as usual.</h4>
        </p>
    </div>
</div>
