<!-- home.html -->
 <div ng-controller="homeController as home" class="container">
    <div class="row dataset-row" ng-repeat="dataset in home.datasets">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="dataset-panel">
                 <div class="dataset-heading">{{ dataset.full_name }}</div>
                 <div class="dataset-body">
                     <div ng-if="dataset.has_image">
                         <img ng-src="/api/datasets/{{dataset.short_name}}/logo" class="dataset-logo" alt='{{ dataset.short_name }} logo' />
                     </div>
                     <div ng-bind-html="dataset.version.description" />
                 </div>
                 <div class="dataset-links">
                     <li><a href="{{ '/dataset/' + dataset.short_name }}">More information</a></li>
                     <li><a href="{{ '/dataset/' + dataset.short_name + '/beacon' }}">Beacon</a></li>
                     <li><a href="{{dataset.browser_uri}}">Graphical Browser</a></li>
                 </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
