<!-- home.html -->
<div ng-controller="adminController as adminCtrl">
  <br />
  <br />
  <div ng-if="adminCtrl.data.admin == false">
    <p>You need to be logged in as an admin to use this page.
  </div>
  <div ng-if="adminCtrl.data.admin == true">
    <div class="row">
      <div id="exTab2"
           class="container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-target="#requestList"
               data-toggle="tab">Pending requests</a>
          </li>
          <li>
            <a data-target="#allUsers"
               data-toggle="tab">Approved users</a>
          </li>
          <li>
            <a data-target="#emailList"
               data-toggle="tab">Email-list</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active"
               id="requestList">
            <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Affiliation</th>
                    <th>Country</th>
                    <th>Applied date</th>
                  </tr>
                  <tr ng-repeat="row in adminCtrl.data.requests">
                    <td>
                      <div class="btn btn-primary btn-xs"
                           data-toggle="tooltip"
                           title="Give the user access"
                           ng-click="adminCtrl.approvedUser(row)">Approve</div>
                      <div class="btn btn-danger btn-xs"
                           data-toggle="tooltip"
                           title="Deny access"
                           ng-click="adminCtrl.revokeUser(row)">
                           Deny</div>
                    </td>
                    <td>{{row.user}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.affiliation}}</td>
                    <td>{{row.country}}</td>
                    <td>{{row.applyDate}}</td>
                  </tr>
                </table>
              </div>
          </div>
          <div class="tab-pane"
               id="allUsers">
            <div class="table-responsive">
              <table class='table table-striped'>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>E-mail</th>
                  <th>Affiliation</th>
                  <th>Country</th>
                  <th>Download count</th>
                </tr>
                <tr ng-repeat="row in adminCtrl.data.approvedUsers">
                    <td>
                      <div class="btn btn-danger btn-xs"
                           data-toggle="tooltip" title="Revoke access"
                           ng-click="adminCtrl.revokeUser(row)">Revoke</div>
                    </td>
                  <td>{{row.user}}</td>
                  <td>{{row.email}}</td>
                  <td>{{row.affiliation}}</td>
                  <td>{{row.country}}</td>
                  <td>{{row.downloadCount}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="tab-pane"
               id="emailList">
            <br />
            <div class="row">
                <span ng-repeat="email in adminCtrl.data.emails">
                  {{email}}{{$last ? '' : ', '}}
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
