<!-- dataBeacon.html -->

<div ng-controller="dataBeaconController as beacon">
    <div class="jumbotron ng-scope">
        <div class="container">
            <h2>SweFreq Beacon</h2>
            <form role="form" name="beacon_form" class="form-horizontal">
                <div class="form-group">
                    <label for="chromosome" class="col-sm-3 control-label">Chromosome</label>
                    <div class="col-sm-3">
                        <input type="text" required
                            ng-pattern='/^([1-9]|1[0-9]|2[0-2]|X|Y|x|y)$/'
                            class="form-control"
                            id="chromosome"
                            name="chromosome"
                            ng-model="beacon.chromosome"
                            ng-disabled="false"
                            placeholder="Chromosome">
                    </div>

                    <label for="position" class="col-sm-3 control-label">Position</label>
                    <div class="col-sm-3">
                        <input type="number" required class="form-control" id="position" ng-model="beacon.position" ng-disabled="false" placeholder="Position">
                    </div>
                </div>
                <div class="form-group">
                    <label for="referenceAllele" class="col-sm-3 control-label">Reference Allele</label>
                    <div class="col-sm-3">
                        <input type="text" required ng-pattern='/^([ATCGatcg]+)$/'
                            class="form-control" id="referenceAllele" ng-model="beacon.referenceAllele" name='referenceAllele'
                            ng-disabled="false" placeholder="Reference Allele">
                    </div>

                    <label for="allele" class="col-sm-3 control-label">Alternate Allele</label>
                    <div class="col-sm-3">
                        <input type="text" required ng-pattern='/^([ATCGatcg]+)$/'
                            class="form-control" id="allele" ng-model="beacon.allele" name='allele'
                            ng-disabled="false" placeholder="Alternate Allele">
                    </div>
                </div>
                <div class="form-group">
                    <label for="reference" class="col-sm-3 control-label">Reference</label>
                    <div class="col-sm-3">
                        <select class='form-control' ng-model='beacon.reference' ng-options='d.reference as d.reference for d in beacon.datasets'></select>
                    </div>

                    <label for="dataset" class="col-sm-3 control-label">Dataset</label>
                    <div class="col-sm-3">
                        <select class='form-control' ng-model='beacon.dataset' required ng-options='d.id as d.id for d in beacon.datasets'>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button ng-click="beacon.search()" class="btn btn-primary">Search</button>
                    </div>
                    <div class="col-sm-2">
                        <a style='cursor: pointer' ng-click="showDetails = !
                            showDetails" class="pull-right">
                            <span ng-show="! showDetails">Show</span>
                            <span ng-show="showDetails">Hide</span>
                            Help
                        </a>
                    </div>
                </div>
            </form>
            <div class="row" ng-show="showDetails">
                <div class="col-xs-12">
                    <p><small>Reference and Alternate allele follows the 
                    <a href="https://samtools.github.io/hts-specs/VCFv4.2.pdf">VCF 4.2
                    specification</a>.</small></p>

                    <p><small><em>Example</em>: an insertion of TA on position 45
                    would be specified as CTA on position 44 as alternate
                    allele and C as reference allele (given that C is what is
                    on the position prior to the insertion).</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container ng-scope">
            <div class="row">
                <div class="col-xs-12" style="height:50px;"></div>
            </div>
            <div class="row">
                <div class='col-xs-11'><h1 style="color:{{beacon.color}}">{{beacon.response}}</h1></div>
            </div>
    </div>
</div>
