<!-- dataBeacon.html -->

<div ng-controller="dataBeaconController as beacon">
    <div class="container">
        <form role="form" name="beacon_form">
            <div class="row">
                <div class="col-sm-1">
                    <label for="chromosome" class="sr-only">Chromosome</label>
                    <input type="text" required 
                        ng-pattern='/^([1-9]|1[0-9]|2[0-2]|X|Y|x|y)$/'
                        class="form-control"
                        id="chromosome"
                        name="chromosome"
                        ng-model="beacon.chromosome"
                        ng-disabled="false"
                        placeholder="Chromosome">
                </div>
                <div class="col-sm-2">
                    <label for="position" class="sr-only">Position</label>
                    <input type="number" required class="form-control" id="position" ng-model="beacon.position" ng-disabled="false" placeholder="Position">
                </div>
                <div class="col-sm-1">
                    <label for="alternateBases" class="sr-only">Alternate Bases</label>
                    <input type="text" required ng-pattern='/^([ATCGatcg]+)$/'
                        class="form-control" id="alternateBases" ng-model="beacon.alternateBases" name='alternateBases'
                        ng-disabled="false" placeholder="Alternate Bases">
                </div>
                <div class="col-sm-1">
                    <label for="referenceBases" class="sr-only">Reference Bases</label>
                    <input type="text" required ng-pattern='/^([ATCGatcg]+)$/'
                        class="form-control" id="referenceBases" ng-model="beacon.referenceBases" name='referenceBases'
                        ng-disabled="false" placeholder="Reference Bases">
                </div>
                <div class="col-sm-2">
                    <label for="reference" class="sr-only">Reference</label>
                    <select class='form-control' ng-model='beacon.reference' ng-options='d.reference as d.reference for d in beacon.datasets'>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="dataset" class="sr-only">Dataset</label>
                    <select class='form-control' ng-model='beacon.dataset' required ng-options='d.id as d.id for d in beacon.datasets'>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button ng-click="beacon.search()" class="btn btn-default">Is it there?</button>
                    <a style='cursor: pointer' ng-click="showDetails = ! showDetails">Help</a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12" style="height:25px;"></div>
        </div>
        <div class="row" ng-show="showDetails">
            <div class="col-xs-12">
                Alternate bases and Reference bases follows the VCF 4.1
                specification. Position counts from 0 and not from 1 (as it is
                in the VCF spec, so remember to subtract one).

                <p><em>Example</em>: an insertion of TA on position 45
                (specified as 46 in VCF file) would be specified as CTA on
                position 44 as alternate bases and C as reference base (given
                that C is what is on the position prior to the insertion).
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="height:50px;"></div>
        </div>
        <div class="row">
            <div class='col-xs-11'><h1 style="color:{{beacon.color}}">{{beacon.response}}</h1></div>
        </div>
    </div>
</div>
