<!-- downloadData.html.html ng-click="downloadDataCtrl.downloadData()" -->

<div ng-controller="downloadDataController as downloadDataCtrl">
  <br>
  <br>
  <div class="col-xs-1"></div>
  <div class="col-xs-8">
    <h2>SweFreq Agreement</h2>
    <h3>Terms of use</h3>

    <p>You are allowed to freely search the data available at this site, and files with genome-wide variant frequencies
    are available for academic use upon registration. The variant frequency files, or modified versions of the files, may
    not be redistributed to other users. Each user is required to register in the system and download his/her own copy
    from this central site and it responsible that this information is not distributed to others. We encourage the use
    and publication of frequency data for specific targeted sets of variants (for instance, assessing a set of candidate
    causal variants observed in a collection of rare disease patients). However, you are not allowed to publish global
    (genome-wide) analyses of the complete data set or large gene sets, until after the first SweGen paper, describing
    the resource, has been published in a peer-reviewed journal (estimated to be in early 2017).

    <h3>Disclaimer</h3>

    <p>This database is based on individuals from population-based cross-sectional studies. No phenotype information has
    been used as inclusion criteria in the database. Individuals with common diseases occur at the general population
    prevalence of the disease. As a consequence, genetic variants contributing to disease risk occur in the database at
    the general population frequency. There is no explicit or implicit guarantee that the genetic variants in the
    database do not contribute to risk of disease.

    <h3>Citation in publications</h3>

    <p>Any use of SweGen data should be cited by <a href="http://somewhere.some.place/">our preprint on bioRxiv</a>.

    <p><b>I hereby consent to the agreement:</b> <input type="checkbox"
					      ng-model="downloadDataCtrl.checked"
					      ng-change="downloadDataCtrl.isChecked()">
    <br/><br>

	 <a class="btn btn-primary btn-download"
	 ng-class="{'disabled': downloadDataCtrl.lChecked}"
	 download="swegen_20161019.tar"
	 href="/static/swegen_20161019.tar"
	 ng-click="downloadDataCtrl.downloadData()">Download</a>

  </div>
  <div class="col-xs-2"></div>
</div>
