<!-- downloadData.html.html ng-click="downloadDataCtrl.downloadData()" -->

<div ng-controller="downloadDataController as downloadDataCtrl">
  <br>
  <br>
  <div class="col-xs-1"></div>
  <div class="col-xs-8">
    <h2>Terms of use for the {{ downloadDataCtrl.short_name }} dataset (release {{ downloadDataCtrl.version }})</h2>

    <div ng-bind-html="downloadDataCtrl.getTerms()"></div>

    <h2>Download</h2>
    <p><b>I hereby consent to the agreement:</b>
    <input type="checkbox" ng-model="downloadDataCtrl.checked" ng-change="downloadDataCtrl.isChecked()">
    </p>

    <table class="table">
        <tbody>
        <tr ng-repeat="file in downloadDataCtrl.files" class="table">
            <td>{{file.name}}</td>
            <td><a class="btn btn-primary btn-download"
                   ng-class="{'disabled': downloadDataCtrl.lChecked}"
                   download="{{file.name}}"
                   href="{{file.uri}}"
                   ng-click="downloadDataCtrl.downloadData()">Download</a></td>
        </tr>
        </tbody>
     </table>

  </div>
  <div class="col-xs-2"></div>
</div>
