<!DOCTYPE html>
<!-- define angular app -->
<html ng-app="App">
    <head>
        <title>SweFreq</title>
        <script type="application/ld+json" id="ldJsonTarget"></script>
        <!-- SCROLLS -->
        <meta charset="utf-8" />
        <base href="/">
[% if develop %]
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/vendor/font-awesome.css" />
[% else %]
         <!-- Bootstrap -->
         <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
         <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" />
[% endif %]
        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/main.css?v=[[ version ]]" type="text/css" />

    </head>
    <!-- define angular controller -->
    <body ng-controller="mainController as mainCtrl">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-things" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/#/">SweFreq &mdash; The Swedish Frequency resource for genomics</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-things">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ng-click="showAbout = !showAbout" style="cursor: pointer">About</a>
                        <li class="dropdown" ng_if="mainCtrl.loggedIn == true"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ mainCtrl.user.user }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile" target="_self">User Profile</a></li>
                                <li><a href="/logout?next={{ mainCtrl.url() }}" target="_self" title="Logout {{mainCtrl.user.user}}">Logout</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" ng_if="mainCtrl.loggedIn == false">
                                <a href="/elixir/login?next={{ mainCtrl.url() }}" target="_self">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- About blurb -->
        <div class="blurb" ng-class="{'hidden-blurb': !showAbout}">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-sm-12 col-md-8">
                        <p>The Swedish Frequency resource for genomics (SweFreq) is a
                        website developed to make genomic datasets more findable and
                        accessible in order to promote collaboration, new research and
                        increase public benefit. You can contact <a
                        href="mailto:swefreq@scilifelab.se">swefreq@scilifelab.se</a> if
                        you want to find out more about this resource and how it could
                        benefit you and your research.
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

        <!-- User information message -->
        <div class="alert fade in" ng-class="{'success':'alert-success', 'info':'alert-info', 'warning':'alert-warning', 'error':'alert-danger'}[mainCtrl.msg.level]" ng-if="mainCtrl.msg.msg">
            <center><strong>{{ mainCtrl.msg.level }}!</strong> {{ mainCtrl.msg.msg }}</center>
        </div>

        <div id="main">
            <!-- angular templating -->
            <!-- this is where content will be injected by angular -->
            <div ng-view=""></div>
        </div>
        <footer class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <a href="https://www.scilifelab.se/data/"><img class="logo scilife" src="/static/img/SLL_logo.png?v=[[ version ]]" alt="SciLifeLab"></a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a href="https://ngisweden.scilifelab.se/"><img class="logo" src="/static/img/ngisweden_logo.png?v=[[ version ]]" alt="NGI"></a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a href="https://nbis.se"><img class="logo" src="/static/img/nbislogo-green.png?v=[[version]]" alt="NBIS"></a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a href="https://elixir.se"><img class="logo elixir" src="/static/img/ELIXIR_SWEDEN_white_background.png?v=[[version]]" alt="Elixir Sweden"></a>
                    </div>
                </div>
            </div>
        </footer>

[% if develop %]
        <!-- Bootstrap -->
        <script src="/static/js/vendor/jquery.min.js?v=[[version]]"></script>
        <script src="/static/js/vendor/bootstrap.min.js?v=[[version]]"></script>
        <!-- Angular -->
        <script src="/static/js/vendor/angular.min.js?v=[[version]]"></script>
        <script src="/static/js/vendor/angular-route.min.js?v=[[version]]"></script>
        <script src="/static/js/vendor/angular-cookies.min.js?v=[[version]]"></script>
[% else %]
         <!-- Bootstrap -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
         <!-- Angular -->
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-cookies.min.js"></script>
[% endif %]
        <!-- Schema.org injector -->
        <script src="/static/js/schema-injector.js?v=[[version]]"></script>
        <!-- The application -->
        <script src="/static/js/vendor.js?v=[[version]]"></script>
        <script src="/static/js/app.js?v=[[version]]"></script>
    </body>
</html>
