.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.top-buffer {
    margin-top:2px;
}

.alignment {
    margin-top:4px;
}

.odd {
    background-color: #e0e0e0;
}
.even {
    background-color: #ffffff;
}

input.ng-dirty.ng-valid, select.ng-dirty.ng-valid {
    border: 1px solid Green;
    background-color: #F5FFF5;
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid {
    border: 1px solid Red;
    background-color: #FFF5F5;
}
