.grid {
  width: 100%;
  height: 500px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
     height: 48px;
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     overflow: visible;
}

.voffset2 { margin-top: 15px; }
.hoffset2 { margin-left: 30px; }

.navbar img { margin-top: -15px; }
.jumbotron {
  margin: 48px 0;
}
.big-swegen-logo {
    float: right;
    margin-left: 3em;
    margin-top:2em
}

footer img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.logo.scilife {
    top: 8px;
    position: relative;
}

span.helper {
    display: inline-block;
    vertical-align: middle;
    height:100%;
}
